<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Management Application</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to the Task Management Application</h1>
    <p>Manage your tasks with ease. Keep track of your to-do list and stay organized.</p>

    <a href="/register"><button>Get Started - Register</button></a>

    <a href="/login"><button>Login</button></a>
</div>
</body>
</html>
