<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Management Application</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to the Task Management Application</h1>
    <p>You can add, edit, and track your tasks here.</p>
    <a href="/list_users"><button>List All Users</button></a>
    <a href="/register"><button>Register</button></a>
    <a href="/tasks"><button>Tasks</button></a>
    <a href="/login"><button>Login</button></a>
</div>
</body>
</html>
